@model IEnumerable<Laboratory_2.Models.BillsModel>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <font color="black">
        <center>
            <h2>Facturas</h2>
        </center>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Carga de archivo con facturas que incluyen detalles</h3>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("UploadBillPablo", "Bills", FormMethod.Post))
                {
                    <center>
                        <button type="submit"><img src="../Images/Icons/Subir3.png" alt="x" /> Cargar</button>
                    </center>
                }
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Carga de archivo con facturas vacias </h3>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("UploadBill", "Bills", FormMethod.Post))
                {
                    <center>
                        <button type="submit"><img src="../Images/Icons/Subir3.png" alt="x" /> Cargar</button>
                    </center>
                }
            </div>

            <div class="panel-heading">
                <h3 class="panel-title">Carga de archivo con detalles de las facturas</h3>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("UploadBillDescription", "Bills", FormMethod.Post))
                {
                    <center>
                        <button type="submit"><img src="../Images/Icons/Subir3.png" alt="x" /> Cargar</button>
                    </center>                  
                }
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Busqueda de facturas</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Search", "Bills", FormMethod.Post))
            {
                    <font size="3" color="black">
                        <p>
                            <input type="text" name="Serie" placeholder="-Serie de la factura-">
                            <input type="text" name="Correlative" placeholder="-Correlativo de la factura-">
                            <input type="submit" value="Buscar" />
                        </p>
                    </font>
                }
            </div>
        </div>

        <div class="container">
            <div align="right">
                <div class="alinear">
                    @using (Html.BeginForm("Create", "Bills", FormMethod.Get))
                    {
                        <font color="black" size="3">
                            <label class="label"> Crear nueva factura</label>
                            <input type="submit" value="" class="add" title="Agregar factura" />
                        </font>
                    }
                </div>
            </div>

            <font size="2">
                <div align="center">
                    <h3>Facturas Actuales</h3>
                </div>
                <div ALIGN="right">
                    <h4> @ViewBag.Message </h4>
                </div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Serie)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Correlative)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NIT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SaleDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BillDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Total)
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Serie)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Correlative)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NIT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SaleDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BillDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                            @if (item != null)
                            {
                                <td>
                                    @Html.ActionLink("Detalles", "Details", "Bills")|
                                    @Html.ActionLink("Eliminar", "Delete", "Bills");
                                    
                                    @*<div class="alinear">
                                        <div class="alinear">
                                            @using (Html.BeginForm("Details", "Bills", new { id = item.Serie + item.Correlative.ToString() }, FormMethod.Get))
                    {
                                                <font color="black" size="3">
                                                    <input type="submit" value="" class="details" title="Detalles" />
                                                </font>
                                            }
                                        </div>

                                        <div class="alinear">
                                            @using (Html.BeginForm("Delete", "Bills", new { id = item.Serie + item.Correlative.ToString() }, FormMethod.Get))
                    {
                                                <input type="submit" value="" class="delete" title="Eliminar" />
                                            }
                                        </div>
                                    </div>*@

                                </td>
                            }
                        </tr>
                    }
                </table>
            </font>         
        </div>
    </font>
</div>

