@model Laboratory_2.Models.ProductModel

@{
    ViewBag.Title = "Details";
}

<CENTER>
    <h2>Detalles del producto </h2>
    <hr align="CENTER" size="2" width="600" color="Black" noshade />
</CENTER>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCount)
        </dd>

    </dl>
</div>

<div align="right">
    @if (Model != null)
    {
        <p>
            @Html.ActionLink("Editar Producto", "Edit", new { id = Model.ProductID }) |
            @Html.ActionLink("Regresar", "Index");
        </p>
    }
    else
    {
        @Html.ActionLink("Regresar", "Index")
    }
</div>
